{% load static %}
<!DOCTYPE html>
<html>
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	href="{% static 'css/main2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% if title %}
<title>Search Engine - {{ title }}</title> {% else %}
<title>Search Engine</title> {% endif %}
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" >Search Engine</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarToggle" aria-controls="navbarToggle"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
	<main role="main" class="container">
		<div class="wrap">
			<div>
				<div class="col-md-8" >
					<!-- The form -->
					<form class="example" method="GET" action=".">
						<input type="text" placeholder="" id="search" value="{{value}}" name="q">
						<input type="hidden" value="{{dataset}}" name="dataset">
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
					<h2> 
					{% if correct != ""%}
					<a class="article-content"  style="margin-bottom:50px"  id="correction" href="{% url 'blog-result' %}?q={{ correct }}&dataset={{dataset}}">Did you mean : {{ correct }}</a>
					{%else%}
					<a class="article-content"  style="margin-bottom:50px" ></a>
					{% endif %}
					</h2>
				</div>
				
			</div>
			<div class="col-md-8">{% block content %}{% endblock %}</div>

		</div>
	</main>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	
	<script src="{% static 'js/extention/choices.js' %}"></script>	
	<script type="text/javascript">
		function move() {
			var inputVal = document.getElementById("search").value;
			window.location.href = "{% url 'blog-result' %}?q=value".replace('value', inputVal);
		}
	</script>	
		<script src="{% static 'js/extention/choices.js' %}"></script>
	<script type="text/javascript">
		function onclick() {
			var inputVal = document.getElementById("correction");
			window.location.href = "{% url 'blog-result' %}?q=value".replace('value', inputVal);
		}
	</script>

</body>
</html>