{% extends "base.html" %}
{% block content %}
    {% for item in dictionary %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{method}}</a>
              <small class="text-muted">{{ item.value }}</small>
            </div>
            <h2><a class="article-title" href="#">Doc ID: {{ item.name }} </a></h2>
            <p class="article-content"> {{ item.text }} </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}